rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Applies to all collections and documents
    match /{document=**} {
      allow read, write: if request.auth != null;
    }

  }
}
